blrec==2.0.0b4
fontTools==4.55.3
librosa==0.9.1
more_itertools==10.6.0
numba==0.55.1
numpy==1.21.6
pysrt==1.1.2
six==1.16.0
tiktoken==0.4.0
torch==1.11.0
triton==3.1.0
zhconv==1.4.3
bilitool==0.1.2
google-generativeai>=0.7.2 # don't change this part
zhipuai
openai
toml